body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
} 

.hero,
.footer {
    background-color: #1f2937;
}


.navbar {
    padding: 8px 100px;
    margin: 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

li {
    font-size: 18px;
    color: #e5e7eb;
    list-style: none;
}

a {
    text-decoration: none;
}

.hero-box {
    margin-left: 100px;
    border: 1px solid lightcoral;
    display: flex;
    flex-direction: column;
}

.hero-title {
    font-size: 48px;
    color: #e5e7eb;
    font-weight: 900;
    border: 1px solid red;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 4px 20px;
    border-radius: 5px;
    flex-shrink: 0;
}

.hero button {
    border: 1px solid #3882f6;
}

.hero-img {
    height: 150px;
    width: 300px;
    flex-shrink: 0;
}

/* SECTION TWO CARDS */

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.info {
    display: flex;
    justify-content: center;
    gap: 54px;
}

.card p {
    text-align: center;
}

.card img,
.card p {
    height: 148px;
    width: 148px;
    margin: 0;
}

.card img {
    border: 3px solid #3882f6;
    border-radius: 10px;    
}

/* SECTION THREE FILLER/QUOTE */

.filler {
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    justify-content: center;
} 

.filler div {
    width: 784px;
    padding: 100px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.filler span {
    display: flex;
    justify-content: flex-end;
    width: 748px;
}

.thor {
    font-size: 18px;
    font-weight: 900;
    align-self: flex-end;
    margin: 0;
}

/* SECTION FOUR CALL TO ACTION*/

.action {
    background-color: #3882f6;
    color: #f9faf8;
    margin: 100px 200px;
    padding: 28px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.action button {
    border: 1px solid #f9faf8;
}

/*  FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94px;
    color: #f9faf8;
}
